@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="jumbotron">
    <h1>PLACE FOR AUCTIONS</h1>
    <p class="lead">If you have something to put on auction or you want to make a bid this is a right place for you! </p>
</div>

